<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
  
<suite name="Suite1" verbose="1" >
  <test name="mytest">
   <groups>
    <run>
      <include name="group1"/>
      <include name="group2"/>
    </run>
  </groups>

    <classes>
       <class name="MyTest"/>
    </classes>
  </test>
 
  <test name="OtherTests">
    <classes>
      <class name="MyTestNew"/>
      <class name="MyTestVeryNew"/>
    </classes>
  </test>
</suite>
